@charset "UTF-8";

// --------------------------------------------------
// main config with color pallette and other variables
// --------------------------------------------------
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
$baseColorText: #535353;

body {
  width: 100%;
  margin: 0 auto;
}

// configurations
@import "style/reset";
@import "style/medias";
@import "style/variables";
@import "style/base";

// components
@import "Home/Home";
